body {
}

nav {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  align-items: center;
  background-color: #b60404;
  padding: 0;
  color: white;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.49);
}

nav .icones-wrap .material-icons {
  margin-right: 40px;
  font-size: 20px;
}

nav .icones-wrap .material-icons:last-child {
  cursor: pointer;
}

h3 { 
  font-size: 1.5rem;
  margin: 16px 0;
  font-family: 'Francois One', sans-serif;

}

input[type="search"] {
  min-width: 250px;
  padding: 3px 30px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgba(31, 30, 30, 37%);
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 3%;
  background-size: 13px;
}

input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 30%);
  font-size: 13px;
  font-weight: 200;
}

input[type="search"]:focus-visible {
  outline: none;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    padding: 5px;
    background-color: #f1f1f1;
    min-width: 250px;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: all ease-in .2s;
}

.dialog.show {
    opacity: 1;
    visibility: visible;
}

.dialog.hiden {
    opacity: 0;
    visibility: hidden;
}

.dialog .dialog-centered {
  min-height: calc(100% - 3.5rem);
  transition: transform 0.3s ease-out;
  max-width: 300px;
  display: flex;
  align-items: center;
  margin: 1.75rem auto;
  position: relative;
  width: auto;
  pointer-events: none;
}

.dialog .dialog-centered .dialog-content {
  position: relative;
  /* display: flex;
    flex-direction: column; */
  width: 100%;
  min-height: 120px;
  padding: 16px;
  pointer-events: auto;
  background-color: #b60404;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  color: white;
}

.dialog .dialog-centered .dialog-content .close-dialog {
  background: white;
  padding: 0px 5px;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  color: black;
  cursor: pointer;
}

.dialog .dialog-centered .dialog-content h4 {
  margin: 0 0 20px;
}

.dialog .dialog-centered .dialog-content button {
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lds-dual-ring {
  display: inherit;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  transition: all ease-in 0.5s;
}

.lds-dual-ring.show {
    display: inherit;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-rigth {
    text-align: right;
}

.d-none {
    display: none;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 576px) {
  nav > div:first-child {
    display: none;
  }
}